.section {
  padding: 80px 10%;
  background: #111;
  color: #fff;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 30px;
  position: relative;
  z-index: 2;
}

@media screen and (max-width: 768px) {
  .section {
    padding: 80px 5%;
  }
}

.section h2 {
  font-size: 2.4rem;
  margin-bottom: 50px;
}

.section h2 span {
  color: #e63946;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 30px;
}

.grid2 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 30px;
}


@media screen and (max-width: 1400px) {
  .grid {
    grid-template-columns: 2fr 2fr;
  }
}

@media screen and (max-width: 768px) {
  .grid {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }
}

.card {
  background: #1c1c1c;
  padding: 20px;
  border-radius: 12px;
  text-align: left;
  display: flex;
  flex-direction: column;
  gap: 15px;
  transition: transform 0.3s, box-shadow 0.3s;
}

.card2 {
  background: #1c1c1c;
  padding: 20px;
  border-radius: 12px;
  text-align: left;
  display: flex;
  flex-direction: column;
  gap: 15px;
  transition: transform 0.3s, box-shadow 0.3s;
}

.card:hover, .card2:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.3);
}

.card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 10px;
}

.card2 img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 10px;
}

.card h3, .card2 h3 {
  font-size: 1.4rem;
  margin: 0;
}

.card p, .card2 p {
  font-size: 1rem;
  color: #ccc;
  line-height: 1.5;
}

.card .btn, .card2 .btn {
  display: inline-flex;
  align-self: flex-start;
  align-items: center;
  justify-content: center;
  padding: 10px 18px;
  background: #e63946;
  color: #fff;
  text-decoration: none;
  border-radius: 6px;
  font-weight: 600;
  margin-top: auto;
  transition: all 0.3s;
  cursor: pointer; 
  gap: 5px;
}

.card .btn svg, .card2 .btn svg {
  width: 20px;
  height: 20px;
  stroke: #fff;
}

.card .btn:hover, .card2 .btn:hover {
  background-color: #bd2e3a;
}